<!-- Floating Background Icons -->
<div class="bg-gradient-layer"></div>
<div class="animated-bg">
  <i class="ri-code-s-slash-line floating-icon"></i>
  <i class="ri-braces-line floating-icon"></i>
  <i class="ri-html5-line floating-icon"></i>
  <i class="ri-css3-line floating-icon"></i>
  <i class="ri-javascript-line floating-icon"></i>
  <i class="ri-database-2-line floating-icon"></i>
  <i class="ri-terminal-box-line floating-icon"></i>
  <i class="ri-global-line floating-icon"></i>
</div>
